<!-- Footer -->
            <div class="row footer">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Publicaciones Recientes</h4>
                      <ul class="list-footer">
                        {% for post in site.posts limit:4 %}
                          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                        {% endfor %}
                        </ul>
                      <h4> VIGILADA MINEDUCACIÓN </h4>          
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                    
                      <h4>Síguenos</h4>
                      <ul class="nav navbar-nav navbar-left right-syms">
                      <li><a href="https://facebook.com/{{site.fb_username}}" target="_blank"><i class="fa fa-facebook-square"></i> <span>Facebook</span></a></li>
                      <li><a href="//twitter.com/{{site.twitter_username}}" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
                      <li><a href="https://github.com/institutodefisica/institutodefisica.github.io" target="_blank"><i class="fa fa-github"></i> <span>GitHub</span></a></li>                                  
                      <li><a href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fa fa-rss"></i> <span>RSS Feed</span></a></li>
                    </ul>

                      {% if site.gplus_username %}

                      <!-- Place this tag where you want the widget to render. -->
                      <div class="g-page" data-width="273" data-href="//plus.google.com/u/0/{{ site.gplus_username }}" data-theme="dark" data-layout="landscape" style="border:0px;" data-rel="publisher"></div>

                      <!-- Place this tag after the last widget tag. -->
                      <script type="text/javascript">
                        (function() {
                          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                          po.src = 'https://apis.google.com/js/platform.js';
                          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                      </script>
                      {% endif %}
                        <!-- <img class="footer-logo" src="img/maanga-logo.png"/> -->
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          <!-- End Footer -->
